<div class='container'>
	<div class="page-header">
		<h1>Unsplash Photos
			<div *ngIf="loading">Searching....</div>
			<!-- <img style="float: right;" *ngIf="loading" src='assets/images/loading.gif' /> -->
		</h1>
	</div>

	<div class="row">
		<div class="controls">
			<app-search-box (loading)="loading = $event" (results)="updateResults($event)"></app-search-box>
			<!-- <app-search-box></app-search-box> -->
		</div>
	</div>

	<div class="search-results">
		<app-search-result *ngFor="let result of results" [result]="result">
		</app-search-result>
	</div>
</div>